@charset "UTF-8";

button{
	border:none;
}
#received_content, #sent_content {
	margin-bottom: 0px;
	white-space: pre-wrap;
	word-break: break-all;
}

.outgoing_msg {
	padding-bottom: 1em;
	padding-right:1em;
}

.sent_msg p {
	background: #26e4ca none repeat scroll 0 0;
	border-radius: 7px;
	font-size: 14px;
	margin: 0;
	color: #fff;
	padding: 10px 10px 10px 12px;
	width: 100%;
	font-family: 'Do Hyeon', sans-serif;
}

.modal-body {
	position: relative;
	flex: 1 1 auto;
	padding: 0;
	overflow-x:hidden;
}

.modal-content {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	pointer-events: auto;
	background-color: #fff;
	background-clip: padding-box;
	border: 1 px solid rgba(0, 0, 0, .2);
	border-radius: 0.3 rem;
	outline: 0;
}

.modal-dialog {
	position: relative;
	width: auto;
	margin: 0.5 rem;
	pointer-events: none;
}

.text-center {
	text-align: center !important;
}

.row { 
	--bs-gutter-x: 1.5rem;
	--bs-gutter-y: 0;
	/* display: flex; */
	flex-wrap: wrap;
	margin-top: calc(var(- -bs-gutter-y)* -1);
	margin-right: calc(var(- -bs-gutter-x)/-2);
	margin-left: calc(var(- -bs-gutter-x)/-2);
}

.badge {
	margin-left: 15px;
}

.msg-container {
	max-width: 1170px;
	margin: auto;
}

.inbox_people {
	width: 40%;
	background: #f8f8f8 none repeat scroll 0 0;
	float: left;
	overflow: hidden;
	border-right: 1px solid #f7f7f7;
}

.inbox_msg {
	border: 1px solid #f7f7f7;
	border-radius: 15px;
	clear: both;
	overflow: hidden;
}

.top_spac {
	margin: 20px 0 0;
}

.recent_heading {
	float: left;
	width: 40%;
}

.headind_srch {
	padding: 10px 29px 10px 20px;
	overflow: hidden;
	border-bottom: 1px solid #f7f7f7;
}

.recent_heading h4 {
	color: #26e4ca;
	font-size: 25px;
	margin: auto;
	font-family: 'Do Hyeon', sans-serif;
	display: inline-block;
}

.srch_bar {
	display: inline-block;
	border: 1px solid #cdcdcd;
	border-width: 0px;
	width: 60%;
	padding: 2px 0 4px 6px;
	background: none;
	font-family: 'Do Hyeon', sans-serif;
	font-size: 20px;
}

.srch_bar .input-group-addon button {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: medium none;
	padding: 0;
	color: #707070;
	font-size: 18px;
}

.srch_bar .input-group-addon {
	margin: 0 0 0 -27px;
	display: inline-block;
}

.chat_ib h5 {
	font-size: 20px;
	color: #464646;
	margin: 0 0 8px 0;
	font-family: 'Do Hyeon', sans-serif;
}

.chat_ib h5 span {
	font-size: 17px;
	float: right;
}

.chat_ib p {
	font-size: 14px;
	color: #989898;
	margin: auto
}

.chat_img {
	float: left;
	width: 11%;
}

.chat_ib {
	float: left;
	padding: 0 0 0 15px;
	width: 88%;
}

.chat_people {
	overflow: hidden;
	clear: both;
}

.chat_list {
	border-bottom: 1px solid #f7f7f7;
	margin: 0;
	padding: 18px 16px 10px;
}

.chat_list_box :hover {
	background-color: #d6ead0;
}

/* 스크롤 처리 */
.inbox_chat {
	height: 550px;
	overflow-y: scroll;
}

.active_chat {
	background: #ebebeb;
}

.incoming_msg_img {
	display: inline-block;
	width: 6%;
}

.received_msg {
	display: inline-block;
	padding: 0 0 0 10px;
	vertical-align: top;
	width: 92%;
}


.received_withd_msg p {
	background: #cfd1d1 none repeat scroll 0 0;
	border-radius: 7px;
	color: #646464;
	font-size: 14px;
	margin: 0;
	padding: 10px 10px 10px 12px;
	width: 100%;
	font-family: 'Do Hyeon', sans-serif;
}

.time_date {
	color: #747474;
	display: block;
	font-size: 12px;
	margin: 5px 0 8px;
}

.received_withd_msg {
	width: 57%;
}

/* 추가 내용 */
.mesgs {
	float: left;
	width: 100%;
}

.outgoing_msg {
	overflow: hidden;
}

.sent_msg {
	float: right;
	width: 46%;
	font-family: 'Do Hyeon', sans-serif;
}

.input_msg_write textarea {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: medium none;
	color: #4c4c4c;
	font-size: 15px;
	min-height: 48px;
	width: 100%;
}

.type_msg {
	border-top: 1px solid #dfdfdf;
	position: relative;
	
}
.button_area{
	width:580px;
}

.button_emo{
	background: white none repeat scroll 0 0;
    border: medium none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    height: 23px;
    width: 25px;
    margin-top:15px;
}
.msg_send_btn {
    background: #50b9abd0 none repeat scroll 0 0;
    border: medium none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    height: 26px;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 30px;
}

.msg_send_btn:hover {
	background: #4e9c91 none repeat scroll 0 0;
	
}

.msg_send_btn:active{
   box-shadow: 1px 1px 0 rgb(0, 0, 0, 0.5);
   position: relative;
   top: 2px;
   left: 2px;
   
}.msg_send_btn2{
	background: #50b9abd0 none repeat scroll 0 0;
    border: medium none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    height: 26px;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 30px;
}
.msg_send_imo{
	border:none;
	background:none;	
	margin-left:135px;
	margin-top:7px;
}
.messaging {
	padding: 200px 0px 100px 0px;
}

.msg_history {
	height: 400px;
	overflow-y: auto;
}

#received_content {
	text-align: left;
}

#sent_content {
	text-align: left;
}

.chat-search-icon {
	width: 45px;
	height: 45px;
	margin-top: 8px;
	padding-right: 15px;
	position: absolute;
	border: 4px solid #26e4ca;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-left: 0px;
	background-color: white;
	background-size: 25px;
	background-repeat: no-repeat;
	background-position: 0px;
	flex: 1;
	background-image: url(../../img/chat_search_button.png);
	width: 40px;
}

.chat-search-icon:hover {
	cursor: pointer;
}

#emo_div {
	width: auto;
	height: 120px;
	background: white;
	display: none;
	overflow : scroll;
	overflow-x:hidden;
	border-top: 1px solid lightgray;
}

.col-11 {
	width: 300px;
}

#message_image1, #message_image2, #message_image3, #message_image4,
#message_image5, #message_image6, #message_image7, #message_image8, #message_image9,
#message_image10, #message_image11, #message_image12, #message_image13, #message_image14, #message_image15, #message_image16
 {
	width: 115px;
	height: 115px;
}
#click_emo_img{
	border:none;
}
.image_size{
	width:90px;
	height:90px;
}