<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias alias="user" type="four.mint.web.user.UserVO" />
		<typeAlias alias="communityBoard" type="four.mint.web.user.community.CommunityBoardVO" />
	</typeAliases>
	<mappers>
		<mapper resource="mappings/UserMapping.xml" />
		<mapper resource="mappings/CommunityBoardMapping.xml" />
	</mappers>
</configuration>