@charset "UTF-8";


@keyframes move_img{
    0%{
    	transform: rotate( 0deg );
    	transform-origin: center bottom;
    }
    25%{
    	transform: rotate( -12deg );
    	transform-origin: center bottom;
    }
    50%{
    	transform: rotate( 0deg );
    	transform-origin: center bottom;
    }
    75%{
    	transform: rotate( 12deg );
    	transform-origin: center bottom;
    }
    100%{
    	transform: rotate( 0deg );
    	transform-origin: center bottom;
    }
}

#logo_icon {
	width:150px;
	animation: move_img 4s linear infinite;
}

#login-article {
	min-width: 1000px;
    height: auto;
    text-align: center;
    margin: 0px 15%;
}

.main-form {
 padding-top: 220px;
    padding-bottom: 50px;
    font-size: 18px;
}

.title {
	text-align: center;
	font-size: 32px;
	color: #26e4ca;
	font-weight: bold;
}

.main-form>div>img {
	  margin-bottom: 50px;
    width: 120px;
    height: auto;
}


#find-form {
	height: auto;
	margin:30px;
	display: flex;
}

.id-find, .pw-find {
	height: 100%;
	flex: 1;
}

.id-find>h2, .pw-find>h2 {
	text-align: left;
}

.id-find>form>div input[type=text], .pw-find>form>div input[type=text] {
	width: 60%;
	height: 70px;
	margin: 25px 0px;
	font-size: 20px;
	padding-left: 50px;
	border: 1px solid transparent;
	border-bottom: 3px solid #50b9abd0;
}

#name{
	 background-image: url(../img/name.png);
	background-repeat: no-repeat;
	background-size: 30px;
	background-position:left;
}


#nick{
	 background-image: url(../img/rename-32.png);
	background-repeat: no-repeat;
	background-size: 30px;
	background-position:left;
}
#phone{
		background-image: url(../img/phone-2-32.png);
	background-repeat: no-repeat;
	background-size: 30px;
	background-position:left;
}
#id-submit {
	margin-top: 50px;
}
.submit {
	width: 60%;
	height: 55px;
	cursor: pointer;
	margin: 60px 0px 0px 0px;
	font-size: 28px;
	color: white;
	border: 3px solid #26e4ca;
	padding-left: 0px;
	border-radius: 15px;
	/* background-color: transparent; */
    background-color: #26e4ca;	
}
.submit:hover {
	color: white;
    background-color: #50b9abd0;
    border: 3px solid transparent;
    border-radius: 15px;
}


/* 비밀번호 재설정 css*/
#id, #pwname, #pwphone, #pwphone2 {
	width: 60%;
	height: 70px;
	margin: 25px 0px;
	font-size: 20px;
	padding-left: 50px;
	border: 1px solid transparent;
	border-bottom: 3px solid #50b9abd0;
}

#id{
	 background-image: url(../img/new-post-32.png);
	 background-repeat: no-repeat;
	 background-size: 30px;
	 background-position:left;
}

#pwname{
	 background-image: url(../img/name.png);
	 background-repeat: no-repeat;
	 background-size: 30px;
	 background-position:left;
}
#pwphone{
	 background-image: url(../img/phone-2-32.png);
	 background-repeat: no-repeat;
	 background-size: 30px;
	 background-position:left;
	 margin-left:55px;
}
#pwphone2{
	 background-image: url(../img/passwordCheck.png);
	 background-repeat: no-repeat;
	 background-size: 30px;
	 background-position:left;
	 margin-left:55px;
}


#updatePw {
	width: 60%;
	height: 55px;
	cursor: pointer;
	margin: 60px 0px 0px 0px;
	font-size: 28px;
	color: white;
	border: 3px solid #26e4ca;
	padding-left: 0px;
	border-radius: 15px;
	/* background-color: transparent; */
    background-color: #26e4ca;	
}
#updatePw:hover {
	color: white;
    background-color: #50b9abd0;
    border: 3px solid transparent;
    border-radius: 15px;
}
#btn_pwphone_check{
	width:50px;
	height:25px;
	font-size:14px;
	margin-left:10px;
	background:lightgray;
	border:1px solid lightgray;
	border-radius:3px;
}
#pwphoneCheck2{
	width:50px;
	height:25px;
	font-size:14px;
	margin-left:10px;
	background:lightgray;
	border:1px solid lightgray;
	border-radius:3px;
}
/*모달*/
body{
	width:100%;
	height:100vh;
}
#popup01{
    display: none;
}
#popup01{
width: 700px;
height: 644px;
top: 55%;
left: 50%;
background-color: #fff;
z-index: 2;	
position:fixed;
transform: translate(-50%, -50%);
margin:auto;


}
.backon{
    content: "";
    width: 100%;
    height: 100%;
    background: #00000054;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    
    
}
.close{
  position:absolute;
  margin-top:20px;
  margin-right:8px;
  right: 0;
  cursor:pointer;
  color:gray;
}