@charset "UTF-8";

@keyframes move_img{
    0%{
    	transform: rotate( 0deg );
    	transform-origin: center ;
    }
    25%{
    	transform: rotate( -8deg );
    	transform-origin: center ;
    }
    50%{
    	transform: rotate( 0deg );
    	transform-origin: center ;
    }
    75%{
    	transform: rotate( 8deg );
    	transform-origin: center ;
    }
    100%{
    	transform: rotate( 0deg );
    	transform-origin: center ;
    }
}

#logo_icon {
	animation: move_img 0.2s linear infinite;
}


#full-article {
	min-width: 800px;
	height: auto;
	text-align: center;
	margin: 0px 15%;
	padding-top: 200px;
}

.main-form {
	padding-top: 20px;
	padding-bottom: 30px;
	font-size: 18px;
}

.find-form-title {
	text-align: center;
	font-size: 32px;
	color: #26e4ca;
	font-weight: bold;
	margin-top: 50px;
}

.main-form>div>img {
	width: 150px;
	height: 150px;
}

#find-form {
	height: auto;
}

/*아이디 값 공간*/
.id-find, .pw-find { 
	height: 33%;
}

.id-find>h2, .pw-find>h2 {
	text-align: left;
}

.id-find>form>div input[type=text], .pw-find>form>div input[type=text] {
	width: 50%;
	height: 70px;
	margin: 25px 0px;
	font-size: 20px;
	padding-left: 50px;
	border: 1px solid transparent;
	border-bottom: 3px solid #26e4ca;
}

.submit {
	width: 250px;
	height: 50px;
	cursor: pointer;
	margin: 20px 0px 0px 0px;
	font-size: 28px;
	color:#26e4ca;
	border: 3px solid #26e4ca;
	padding-left: 0px;
	border-radius: 15px;
	background-color: transparent;
}

.submit:hover {
	border: 1px solid transparent;
	background-color:#26e4ca;
	color: white;
}

.find-form-body {
	width: 100%;
	height: 200px;
	display: flex;
	
	text-align: center;
	margin-top: 50px;
}

.find-form-body>div {
	flex: 1;
	display: inline-block;
	width: 50%;

}
