<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>[개인정보의 수집 및 이용에 대한 동의]</title>
</head>
<body>
[개인정보의 수집 및 이용에 대한 동의]<br>
<br>
민트마켓㈜(이하 '회사')는 이용자의 개인정보를 중요시하며, 『전자금융거래법』, 『개인정보보호법』, 『정보통신망 이용촉진 및 정보보호 등에 관한 법률』, 『전자상거래 등에서의 소비자보호에 관한 법률』, 『특정금융거래정보의 보고 및 이용 등에 관한 법률』 등을 준수하며 관련 법령에 의거한 개인정보처리방침을 정하여 이용자 권익을 보호하고 있습니다.<br>
<br>
1. 회사는 전자금융거래서비스를 제공함에 있어서 취득한 정보를 이용자의 동의를 얻지 않고 제3자에게 제공, 누설하거나 업무상 목적 외에 사용하지 않습니다. 다만, 업무상 이용자 정보를 제3자에게 위탁할 경우 홈페이지(www.mintmarket.co.kr)을 통해 이용자에게 고지합니다.<br>
<br>
2. 수집하는 개인정보 항목<br>
회사는 전자금융업자로서 고객 확인 및 검증, 결제내역 조회, 고객상담, 서비스 신청 등을 위해 아래와 같은 개인정보를 수집하고 있습니다.<br>
<br>
[필수항목]<br>
<br>
신원 확인 및 고객 검증을 위한 수집 정보<br>
<br>
· 개인 및 개인사업자 : 고객ID, 이용자의 이름, 생년월일, 성별, 실명번호, 주소, 연락처<br>
<br>
· 영리법인의 경우 : 실지명의, 업종, 본점 및 사업장의 소재지, 연락처, 대표자의 성명, 생년월일 및 국적<br>
<br>
· 비영리법인 그 밖의 단체의 경우 : 실지명의, 설립목적, 주된 사무소의 소재지, 연락처, 대표자의 성명, 생년월일 및 국적<br>
<br>
· 외국인 및 외국단체의 경우 : 제1호 내지 제3호의 규정에 의한 분류에 따른 각 해당 사항, 국적, 국내의 거소 또는 사무소의 소재지<br>
<br>
고위험 거래 대상으로 분류 시 개인정보 추가 수집 내역<br>
<br>
· 개인 : 직업 또는 업종(개인사업자), 거래의 목적, 거래자금의 원천, 기타 자금세탁 우려를 해소하기 위해 필요하다고 판단한 사항으로 회사가 별도 고지한 정보유형<br>
<br>
· 법인 : 회사에 관한 기본정보(법인정보, 상장정보, 사업체 설립일, 홈페이지/이메일 등) 거래자금의 원천, 거래의 목적, 기타 자금세탁 우려를 해소하기 위해 필요하다고 판단한 사항으로 회사가 별도 고지한 정보유형<br>
<br>
결제내역 조회, 고객상담, 서비스 신청 등을 위한 수집 정보<br>
<br>
· 신용카드 : 카드번호, 유효기간 (결제방식에 따라 수집정보가 상이할 수 있습니다.)<br>
<br>
· 휴대전화 : 통신사명, 휴대전화번호<br>
<br>
· 계좌이체 : 은행명, 계좌번호<br>
<br>
· 가상계좌 : 은행명, 입금자명 (환불시, 추가로 은행명, 계좌번호, 예금주 정보를 수집합니다.)<br>
<br>
· ARS폰빌 : 유선전화번호<br>
<br>
· 현금영수증 : 고유식별정보 또는 휴대폰번호 또는 카드번호<br>
<br>
· 슈가페이 : 이용자ID, CI, 카드번호<br>
<br>
※ 서비스 이용과정중에서 아래와 같은 정보들이 자동으로 생성되어 수집됩니다.<br>
<br>
(IP Address, 서비스접속일시)<br>
<br>
3. 개인정보 수집방법<br>
<br>
· 회사의 결제서비스 이용 시<br>
<br>
· 결제내역 조회 및 고객 응대 입력 시<br>
<br>
4. 개인정보의 수집 및 이용목적<br>
<br>
회사가 이용자의 개인정보를 수집, 이용하는 목적은 아래와 같습니다.<br>
<br>
1) 이용자가 구매한 재화나 용역의 대금 결제<br>
<br>
2) 이용자가 결제한 거래의 취소 또는 환불<br>
<br>
3) 이용자가 결제한 거래의 청구 및 수납<br>
<br>
4) 이용자가 수납한 거래 대금의 정산<br>
<br>
5) 이용자가 결제한 거래의 내역을 요청하는 경우 응대 및 확인<br>
<br>
6) 통신과금서비스 이용이 불가능한 이용자와 불량, 불법 이용자의 부정 이용 방지<br>
<br>
7) 특정금융거래정보의 보고 및 이용 등에 관한 법률 제5조의2 및 동법 시행령 제10조의4에 따른 고객확인의무 이행 및 의심거래 보고<br>
<br>
5. 개인정보의 보유 및 이용기간<br>
<br>
회사가 이용자의 개인정보를 수집, 이용하는 목적은 아래와 같습니다. 회사는 개인정보 수집 및 이용목적이 달성된 후에는 예외 및 지체 없이 해당 정보를 파기합니다. 단, 『개인정보보호법』 및 『정보통신망 이용촉진 및 정보보호 등에 관한 법률』 등 관계법령의 규정에 의하여 보존할 필요가 있는 경우 아래와 같이 법령에서 정한 일정한 기간 동안 보관합니다.<br>
<br>
· 계약 또는 청약철회 등에 관한 기록<br>
<br>
보존 이유 : 전자상거래 등에서의 소비자보호에 관한 법률<br>
<br>
보존 기간 : 5년<br>
<br>
· 대금결제 및 재화 등의 공급에 관한 기록<br>
<br>
보존 이유 : 전자상거래 등에서의 소비자보호에 관한 법률<br>
<br>
보존 기간 : 5년<br>
<br>
· 전자금융 거래에 관한 기록<br>
<br>
보존 이유 : 전자금융거래법<br>
<br>
보존 기간 : 5년<br>
<br>
· 소비자의 불만 또는 분쟁처리에 관한 기록<br>
<br>
보존 이유 : 전자상거래 등에서의 소비자보호에 관한 법률<br>
<br>
보존 기간 : 3년<br>
<br>
· 웹사이트 방문기록<br>
<br>
보존 이유 : 통신비밀보호법<br>
<br>
보존 기간 : 3개월<br>
<br>
· 신원 확인 및 고객 검증 등을 위한 기록<br>
<br>
보존 이유 : 특정금융거래정보의 보고 및 이용 등에 관한 법률 및 동법 시행령<br>
<br>
보존 기간 : 5년<br>
<br>
6. 개인정보의 파기절차 및 방법<br>
<br>
회사는 원칙적으로 개인정보 수집 및 이용목적이 달성된 후에는 해당 정보를 지체없이 파기합니다. 파기절차 및 방법은 다음과 같습니다.<br>
<br>
· 파기절차<br>
<br>
회원님이 회원가입 등을 위해 입력하신 정보는 목적이 달성된 후 별도의 데이터베이스(DB)로 옮겨져(종이의 경우 별도의 서류함) 내부 방침 및 기타 관련 법령에 의한 정보보호 사유에 따라(5. 보유 및 이용기간 참조) 일정 기간 저장된 후 파기됩니다.<br>
<br>
별도 DB로 옮겨진 개인정보는 법률에 의한 경우가 아니고서는 보유되는 이외의 다른 목적으로 이용되지 않습니다.<br>
<br>
· 파기방법<br>
<br>
전자적 파일형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제합니다.<br>
<br>
</body>
</html>