<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>[개인정보의 제3자 제공 동의]
</title>
</head>
<body>
[개인정보의 제3자 제공 동의]<br>
<br>
1. 민트마켓㈜(이하 '회사')는 이용자의 개인정보를 본 개인정보처리방침에서 고지한 범위 내에서 사용하며, 이용자의 사전 동의 없이 동 범위를 초과하여 이용하거나 이용자의 개인 정보를 제3자에게 제공하지 않습니다. 다만, 아래의 경우에는 예외로 합니다.<br>
<br>
· 이용자가 사전에 동의한 경우<br>
<br>
· 법령의 규정에 의거하거나, 수사 목적으로 법령에 정해진 절차와 방법에 따라 수사기관의 요구가 있는 경우<br>
<br>
2. 회사의 서비스 이행을 위하여 개인정보를 제3자에게 제공하고 있는 경우는 다음과 같습니다.<br>
<br>
1) 제공 목적 : 신용카드 결제<br>
<br>
- 제공 받는 자<br>
<br>
· 카드사: 국민, 비씨, 롯데, 삼성, NH농협, 현대, KEB하나, 신한<br>
<br>
· 은행: 신한, SC제일, 씨티, KEB하나, 농협, 기업, 국민, 대구, 부산, 경남, 우리<br>
<br>
· 부가통신사업자(VAN사): 파이서브코리아, 한국정보통신(KICC), KIS정보통신, ㈜코밴, NICE정보통신, VP(주)<br>
<br>
· 전자지급결제대행업자:KG이니시스<br>
<br>
-제공 정보<br>
<br>
· 결제정보 (비씨카드: IP포함)<br>
<br>
-보유 및 이용기간<br>
<br>
· 개인정보는 원칙적으로 개인 정보의 수집 및 이용목적이 달성되면 지체 없이 파기합니다<br>
<br>
(단, 다른 법령에 특별한 규정이 있을 경우 관련 법령에 따라 보관)<br>
<br>
2) 제공 목적 : 간편결제<br>
<br>
- 제공 받는 자<br>
<br>
· 카카오페이: ㈜카카오페이<br>
<br>
· 네이버페이: 네이버파이낸셜㈜<br>
<br>
· 내통장: 세틀뱅크㈜<br>
<br>
· 페이코인: ㈜다날<br>
<br>
- 제공 정보<br>
<br>
· 결제정보 (슈가페이: CI, 이용자ID 포함)<br>
<br>
- 보유 및 이용기간<br>
<br>
· 개인정보는 원칙적으로 개인 정보의 수집 및 이용목적이 달성되면 지체 없이 파기합니다<br>
<br>
(단, 다른 법령에 특별한 규정이 있을 경우 관련 법령에 따라 보관)<br>
<br>
3) 제공 목적 : 계좌이체 결제<br>
<br>
- 제공받는 자<br>
<br>
· 은행: 기업, 국민, KEB하나, 수협, 농협, 우리, SC제일, 씨티, 대구, 부산, 광주, 제주, 전북, 경남, 새마을금고, 신협, 우체국, 신한, 산림조합, 산업<br>
<br>
· 증권: 유안타, 현대, 미래에셋, 한투, 우리투자, 하이투자, HMC투자, SK, 대신, 하나대투, 신한금융, 동부, 유진투자, 메리츠, 신영, 삼성, 한화, 대우<br>
<br>
· 금융결제원, LG유플러스<br>
<br>
· CMS 계좌이체: 효성에프엠에스<br>
<br>
- 제공 정보<br>
<br>
· 결제정보<br>
<br>
-보유 및 이용기간<br>
<br>
· 개인정보는 원칙적으로 개인 정보의 수집 및 이용목적이 달성되면 지체 없이 파기합니다<br>
<br>
(단, 다른 법령에 특별한 규정이 있을 경우 관련 법령에 따라 보관)<br>
<br>
4) 제공 목적 : 가상계좌 결제<br>
<br>
- 제공받는 자<br>
<br>
· 은행: 기업, 국민, KEB하나, 수협, 농협, 우리, SC제일, 신한, 부산, 광주, 우체국<br>
<br>
· LG유플러스, 세틀뱅크<br>
<br>
- 제공 정보<br>
<br>
· 결제정보<br>
<br>
-보유 및 이용기간<br>
<br>
· 개인정보는 원칙적으로 개인 정보의 수집 및 이용목적이 달성되면 지체 없이 파기합니다<br>
<br>
(단, 다른 법령에 특별한 규정이 있을 경우 관련 법령에 따라 보관)<br>
<br>
5) 제공 목적 : 휴대폰 결제<br>
<br>
-제공받는 자<br>
<br>
· 이동통신사: (주)SKT, ㈜KT, ㈜LGU+, MVNO사업자<br>
<br>
· ㈜모빌리언스, 갤럭시아머니트리㈜, ㈜다날<br>
<br>
-제공 정보<br>
<br>
· 결제정보, 휴대폰번호<br>
<br>
-보유 및 이용기간<br>
<br>
· 개인정보는 원칙적으로 개인 정보의 수집 및 이용목적이 달성되면 지체 없이 파기합니다<br>
<br>
(단, 다른 법령에 특별한 규정이 있을 경우 관련 법령에 따라 보관)<br>
<br>
6) 제공 목적 : 현금영수증 발행<br>
<br>
-제공받는 자<br>
<br>
· 국세청<br>
<br>
-제공 정보<br>
<br>
· 결제정보, 고유식별정보, 휴대폰번호, 카드번호<br>
<br>
-보유 및 이용기간<br>
<br>
· 개인정보는 원칙적으로 개인 정보의 수집 및 이용목적이 달성되면 지체 없이 파기합니다<br>
<br>
(단, 다른 법령에 특별한 규정이 있을 경우 관련 법령에 따라 보관)<br>

</body>
</html>